// import URL("Boostrap.css");
$black: black;
$white: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    nav.navbar {
        height: 4rem;
        width: 100%;
        background-color: whitesmoke;
        color: $black;
        display: flex;
        align-items: center;

        ul {
            display: flex;
            align-items: center;

            h1 {
                font-size: 2rem;
                font-weight: 1000;
                cursor: pointer;
            }

            .links {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 4rem;
                font-size: 1.3rem;

                .nav-link {
                    color: $black;
                    list-style: none;
                    margin-left: 0.9rem;
                    text-decoration: none;

                    a {
                        text-decoration: none;
                        color: $black;
                    }
                }

                .dropdown {
                    margin-left: 0.9rem;
                    list-style: none;
                    text-decoration: none;

                    a {
                        list-style: none;
                        text-decoration: none;
                        color: $black;
                    }

                    .drops {
                        display: none;

                        li {
                            color: $black;
                            margin-left: 1rem;
                        }
                    }

                    &:hover {

                        .drops {
                            list-style: none;
                            text-decoration: none;
                            margin-left: 3rem;
                            margin-top: 0;
                            background-color: $white;
                            height: 5rem;
                            width: 40rem;
                            border-radius: 2rem;
                            display: block;

                            li {
                                color: $black;
                                margin-left: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}