// import URL("Boostrap.css");
$black: black;
$white: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    nav,
    .navbar {
        height: 4rem;
        position: relaive;
        width: 100%;
        background-color: whitesmoke;
        color: $black;
        display: flex;
        align-items: center;
        box-shadow: 0 1rem 3rem rgba(black, .175);

        ::selection {
            color: white;
            background-color: rgb(0, 255, 225);
        }

        ul {
            display: flex;

            h1 {
                font-size: 2rem;
                cursor: pointer;
            }

            .links {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 2rem;
                font-size: 1.1rem;


                .nav-link {
                    color: $black;
                    list-style: none;
                    margin-left: 0.9rem;
                    text-decoration: none;

                    a {
                        text-decoration: none;
                        color: $black;
                    }
                }
            }

        }

        .form {
            display: flex;
            justify-content: end;
            margin-left: auto;


            .input {
                width: 15rem;
                border: 1px solid rgba(41, 42, 41, 0.466);
                border-radius: 20px;
                margin: 5px;
                font-size: x-large;
            }

            .btn-success {
                height: 2.5rem;
                width: 5rem;
                background-color: rgb(0, 255, 225);
                border: 1px solid rgba(41, 42, 41, 0.466);
                cursor: pointer;
                border-radius: 20px;
                margin: 5px;
            }
        }
    }

    .h1 {
        margin-top: 2rem;
    }

    .image {
        height: 20rem;
        width: 20rem;
        animation: pic 3s ease infinite;
    }

    .disable {
        cursor: not-allowed;
    }
}